<h1 class="text-center mt-4"><%= @user.full_name %>'s profile</h1>

<!--<div class="flickr_pagination">-->
  <%#= will_paginate @histories, :container => false %>
<!--</div>-->

<%#= render 'pages/history' %>

<!--<div class="flickr_pagination mb-4">-->
  <%#= will_paginate @histories, :container => false %>
<!--</div>-->