<table>
  <thead>
  <tr>
    <th>Spot name</th>
  </tr>
  </thead>

  <tbody>
  <% @histories.each do |history| %>
    <% if history.spot.reserved == true %>
      <tr>
        <td><%= history.spot.name %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>