<h1>Parking spot history</h1>

<div class="flickr_pagination">
  <%= will_paginate @histories, :container => false %>
</div>

<table>
  <thead>
  <tr>
    <th>Spot name</th>
    <th>User</th>
  </tr>
  </thead>

  <tbody>
  <% @histories.each do |history| %>
    <tr>
      <td><%= history.spot.name %></td>
      <td><%= history.user.full_name if history.user %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="flickr_pagination">
  <%= will_paginate @histories, :container => false %>
</div>