<h1>Parking App</h1>
<p>App for booking parking spots</p>

<%#= link_to "Sign in with SLACK", "/auth/slack" %>
<%#= button_to "Connect Slack", "/auth/slack", method: :post %>

<%#= button_to 'Slack OAuth', new_slack_path, :method => :get %>


<% if @current_user %>
  <h1>Hi, <%= @current_user.full_name%></h1>
<% end %>